@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesMain>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<h1>
@Model.Value("Title", fallback: Fallback.ToAncestors)
</h1>

<br>

<p>
@Model.Value("maincontent", fallback: Fallback.ToAncestors)
</p>

@{
	var selection = Umbraco.Content(Guid.Parse("747d45cb-05cd-4264-854d-4e3eeb148a62"))
    .ChildrenOfType("articlesItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>



