@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.UserComments>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}



@{
	var selection = Umbraco.Content(Guid.Parse("ad0998c2-7e30-48ed-8ac6-2dc12d748eee"))
    .ChildrenOfType("comment")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>


