@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<h1>
@Model.Value("siteTitle")
</h1>

<p>
@Model.Value("maincontent")
</p>
    
<h2>

</h2>