@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProjectsItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}
<h1>
@Model.Value("title")
    
</h1>
<br>

<p>
@Model.Value("mainContent", fallback: Fallback.ToAncestors)
</p>

