@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@{
	var selection = Umbraco.ContentAtRoot().FirstOrDefault()
    .Children()
    .Where(x => x.IsVisible());
}
<nav>
<ul class="nav nav-pills nav-fill">
	@foreach (var item in selection)
	{
		<li class="nav-link" >
		   <a class="nav-link" href="@item.Url">@item.Name</a>
			
		</li>
	}
    <a class= "nav-link dropdown">  


</ul>
</nav>